section
	section
		h2 O que é?
		p
			span.fragment(data-fragment-index="1") Framework JavaScript
		p
			span.fragment(data-fragment-index="2") Com código isomórfico
		p
			span.fragment(data-fragment-index="3") Para programação reativa
		p
			span.fragment(data-fragment-index="4") E rápida prototipagem
		p
			span.fragment(data-fragment-index="5") Sim, aplicativos

	section(data-background='#fff')
		img.no-border(src="img/web.png", alt="")

	section(data-background='#fff')
		img.no-border(src="img/node.png", alt="")

	section(data-background='#fff')
		img.no-border(src="img/mongo-db.png", alt="", width="600")
