section
	h2 Referências
	p
		span.fragment(data-fragment-index="1") Meteor: 
			a(href="https://www.meteor.com/") meteor.com
	p
		span.fragment(data-fragment-index="2") Atmosphere: 
			a(href="https://atmospherejs.com/") atmospherejs.com
	p
		span.fragment(data-fragment-index="3") Livro: 
			a(href="http://www.casadocodigo.com.br/products/livro-meteor") Meteor: Criando aplicações web real-time com JavaScript