section
	section
		h2 Os grandes culpados
	
	section
		h2 Sockjs
		h4 Emulador de websocket, é quem faz o DDP funcionar

	section
		h2 DDP
		h4 Data Distributed Protocol

	section
		h2 Minimongo
		h4 Conexão direta do cliente com o banco de dados

	section
		img(src="img/conexoes.png", alt="")