section
	section
		h2 Então meus dados estão todos no cliente???
		img(src="img/padawan.png", alt="")

	section
		h2 Publication & Subscription
		pre
			code.hljs $ meteor remove insecure autopublish

	section
		img(src="img/pub-sub.png", alt="")