section
	img(src="img/victor.jpg", alt="", width="200")
	h3 Victor Miguez
	p
		a(href="https://twitter.com/_vmiguez") @_vmiguez
	p Front-end dev na 
		a(href="http://www.princiweb.com.br/") Princi Web