doctype html
html
	include inc/head
	body
		.reveal
			.slides
				include ../slides/slide-introducao
				include ../slides/slide-victor
				include ../slides/slide-o-que-e
				include ../slides/slide-demo-time
				include ../slides/slide-wat
				include ../slides/slide-culpados
				include ../slides/slide-padawan
				include ../slides/slide-live
				include ../slides/slide-atmosphere
				include ../slides/slide-referencias
				include ../slides/slide-obrigado
		include inc/scripts